/* ----- Font-face ----- */

@font-face {
    font-family: 'Museo Sans 100';
    src: url('../fonts/museosanscyrl-100.eot'); /* IE9 Compat Modes */
    src: url('../fonts/museosanscyrl-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/museosanscyrl-100.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/museosanscyrl-100.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/museosanscyrl-100.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/museosanscyrl-100.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Museo Sans 300';
    src: url('../fonts/museosanscyrl-300.eot'); /* IE9 Compat Modes */
    src: url('../fonts/museosanscyrl-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/museosanscyrl-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/museosanscyrl-300.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/museosanscyrl-300.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/museosanscyrl-300.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Museo Sans 700';
    src: url('../fonts/museosanscyrl-700.eot'); /* IE9 Compat Modes */
    src: url('../fonts/museosanscyrl-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/museosanscyrl-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/museosanscyrl-700.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/museosanscyrl-700.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/museosanscyrl-700.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* ----- Overall ----- */

body {
    font-family: 'Museo Sans 300', sans-serif;
    color: #404048;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

p {
    line-height: 1.5em;
    padding: 0;
    margin: 0;
}

div, p, a, span, button {
    box-sizing: border-box;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: none;
}

h2, h3 {
    color: #2d3033;
}

a {
    text-decoration: none;
    color: #fff;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

h1 {
    color: #081d42;
    font-size: 58px;
    font-family: 'Museo Sans 700';
}

h2 {
    color: #081d42;
    font-size: 29px;
    font-family: 'Museo Sans 700';
    text-align: center;
}

h3 {
    font-size: 21px;
    color: #081d42;
    font-family: 'Museo Sans 700';
    text-align: center;
}

h4 {
    font-size: 19px;
    color: rgba(255, 255, 255, 0.66);
    font-family: 'Museo Sans 700';
}

h5 {
    font-size: 13px;
    font-family: 'Museo Sans 700';
    color: rgba(255, 255, 255, 0.75);
}

.font-red {
    color: #b81c31;
}

.btn {
    width: 165px;
    height: 35px;
    background-color: #26b585;
    color: #fff;
    border-radius: 0px;
    border-bottom: #149d6f solid 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* XXX----- HOME PAGE -----XXX */

/* ----- Nav ----- */


.nav {
    background: #bfc2c8;
    padding: 15px 0 15px;
}

.nav__item {
    margin-right: 25px;
}

.nav__link {
    color: #3f4b60;
    font-family: 'Museo Sans 700';
    font-size: 17px;
}

.nav__btn {
    font-size: 13px;
    font-family: 'Museo Sans 700';
    margin-left: auto;
}

.nav__btn i {
    margin-right: 5px;
    color: #46e6b0;
} 

    
.nav__berger {
    color: #3f4b60;
    font-size: 26px;
    text-align: center;
}

/* ----- Header ----- */

.main {
    background: url(../img/city.jpg) no-repeat center center /cover;
    padding: 105px 0 150px;
    border-bottom: 17px solid rgba(255, 255, 255, 0.4);
}

.main__text {
    width: 460px;
    font-size: 29px;
    font-family: 'Museo Sans 100';
    color: #081d42;
    margin: 20px 0 30px;
    line-height: normal;
}

.main__icons {
    width: 166px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.82);
    border-radius: 3px;
    border: solid 3px rgba(255, 255, 255, 0.66);
}

.main__icons a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    padding: 7px;
    border: solid 2px;
}

.main__icons i {
    font-size: 17px;
}

.main__icons a:first-child {
    margin-left: 20px;
}

.main__icons_facebook {
    color: #3d6ca8;
}

.main__icons_facebook:hover {
    background: #3d6ca8;
    border-color: #3d6ca8;
    color: rgba(255, 255, 255, 0.82);
}

.main__icons_twitter {
    color: #43c9fd;
}

.main__icons_twitter:hover {
    border-color: #43c9fd;
    background: #43c9fd;
    color: rgba(255, 255, 255, 0.82);
}

.main__icons_telegram {
    color: #25a3d4;
}

.main__icons_telegram:hover {
    border-color: #25a3d4;
    background: #25a3d4;
    color: rgba(255, 255, 255, 0.82);
}



/* ----- Trust ----- */


.trust {
    background: #f1f1f3;
    padding: 58px 0 102px;
}

.trust__header {
 margin-bottom: 42px;
}

.item__circle {
    background: #c8cbdb;
    width: 119px;
    height: 119px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.item__title {
    margin: 24px 0 15px;
}

.item__text {
    text-align: center;
    width: 370px;
}


/* ----- About ----- */


.about {
    padding: 103px 0 82px;
}

.about__btn {
    width: 177px;
    height: 44px;
    margin: 0 auto;
    margin-top: -125px;
}

.about__circle {
    width: 86px;
    height: 86px;
    background: #102e62;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Museo Sans 100';
    color: #fff;
    font-size: 50.5px;
    margin: 0 auto;
}

.about__title {
    font-size: 24px;
    font-family: 'Museo Sans 100';
    color: #081d42;
    text-align: center;
    margin: 12px 0 16px;
}

.about__text {
    text-align: center;
    width: 370px;
}


/* ----- Mission ----- */


.mission {
    padding: 44px 0;
    background: #58647a;
}

.mission__title, .mission__news {
    color: rgba(255, 255, 255, 0.4);
    font-size: 23px;
    font-family: 'Museo Sans 700';
    padding-bottom: 11px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 23px;
}

.mission__text {
    color: rgba(255, 255, 255, 0.67);
    font-size: 14px;
    display: flex;
    margin-bottom: 42px;
}

.mission__text_left {
    width: 466px;
    margin-right: 35px;
}
.mission__text_right {
    width: 366px;
}

.mission__text_up {
    margin-bottom: 20px;
}

.mission__btn {
    width: 173px;
    height: 44px;
    background: none;
    border: 3px solid #fff;
    color: #fff;
    opacity: 0.69;
}

.mission__btn:hover {
    background: rgba(255,255,255,0.69);
    color: #58647a;
}

.news__item {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    margin-bottom: 20px;
}

.news__photo {
    margin-right: 12px;
}

.news__title {
    margin-bottom: 14px;
}

.news__date {
    color: rgba(255, 255, 255, 0.43);
    font-size: 10px;
    font-family: 'Museo Sans 100';
}


/* ----- Mission ----- */


.info {
    padding: 43px 0 47px;
    background: #3a4456;
}

.info__header {
    margin-bottom: 25px;
}

.info__elem {
    margin-bottom: 3px;
}

.info__elem a {
    color: rgba(255, 255, 255, 0.46);
}

.info__elem a:hover {
    color: rgba(255, 255, 255, 0.96);
}

.info__mb {
    margin-bottom: 54px;
}

.footer {
    background: #1f2531;
    padding-bottom: 43px;
}

.footer__contact {
    color: rgba(255, 255, 255, 0.52);
    font-size: 12px;
    font-family: 'Museo Sans 100';
}

.contact__text {
    margin: 38px 0 16px;
}

.footer__copyright {
    margin-top: 41px;
}

.copyright__studio {
    display: flex;
    margin-bottom: 37px;
}

.studio__logo {
    width: 25px;
    height: 25px;
    border: 1px solid rgba(255, 255, 255, 0.63);
    display: flex;
    color: rgba(255, 255, 255, 0.63);
    font-size: 15px;
    font-family: 'Museo Sans 100';
    align-items: center;
    justify-content: center;
    margin-right: 11px;
}

.studio__text {
    color: rgba(255, 255, 255, 0.63);
    font-family: 'Museo Sans 100';
}

.studio__textelem_small {
    font-size: 10px;
}

.studio__textelem_big {
    font-size: 12px;
    text-transform: uppercase;
    margin-top: -5px;
}

.copyright__links {
    color: rgba(255, 255, 255, 0.45);
    font-size: 12px;
}

.links__text_small {
    font-family: 'Museo Sans 100';
}

.links__text_big {
    font-family: 'Museo Sans 700';
}

.links__link {
    color: rgba(255, 255, 255, 0.45);
    cursor: pointer;
}

.footer__btn {
    font-size: 13px;
    font-family: 'Museo Sans 700';
    margin-top: 72px;
    margin-left: auto;
}

.footer__btn i {
    margin-right: 5px;
    color: #46e6b0;
} 



/* XXX----- ABOUT PAGE -----XXX */

/* ----- AboutNav ----- */


.aboutnav {
    background: #f1f1f3;
    padding: 74px 0 69px;
}

.aboutnav__title {
    color: #081d42;
    font-size: 38px;
    font-family: 'Museo Sans 700';
}

.aboutnav__location {
    font-size: 16px;
    display: flex;
}

.location__link {
    color: #49556b;
    text-decoration: underline;
    margin-right: 5px;
}

.location__text {
    color: #7e838d;
}

.aboutnav__list {
    display: flex;
    margin-left: auto;
}

.list__item {
    margin-right: 40px;
}

.list__item:last-child {
    margin-right: 0;
}

.aboutnav__list a {
    color: #a1a6af;
    font-size: 16px;
    font-family: 'Museo Sans 700';
}

.list__link {
    padding: 12px 9px;
}

.list__link:hover {
    padding: 10px 7px;
    border: 2px solid #b81c31;
    color: #b81c31;
}

.list__link_active {
    padding: 10px 7px;
    border: 2px solid #b81c31;
}

.list__item_active a {
    color: #b81c31;
}


/* ----- Advantage ----- */


.advantage {
    padding-top: 59px;
}

.advantage__header {
    color: #081d42;
    font-family: 'Museo Sans 700';
    font-size: 29px;
    margin-bottom: 34px;
}

.advantage__text {
    color: #404048;
    font-size: 15px;
    margin-bottom: 54px;
}

.advantage__item {
    padding: 39px 0 33px;
    padding-left: 96px;
    border-bottom: 1px solid #e5e6e8;
    background: url(../img/court.jpg) no-repeat center left;
}

.advantage__item:first-child {
    border-top: 1px solid #e5e6e8;
}

.advantage__title {
    color: #081d42;
    font-size: 18px;
    font-family: 'Museo Sans 700';
}

.advantage__itemtext {
    color: #404048;
    margin-top: 20px;
}


/* ----- Photos ----- */


.photos {
    padding: 53px 0 71px;
}

.photos__header {
    color: #081d42;
    font-size: 29px;
    font-family: 'Museo Sans 700';
    margin-bottom: 43px;
}

.photos__photo {
    position: relative;
}

.photos__photo img {
    width: 100%;
}

.overlay {
    position: absolute;
    color: #fff;
    font-size: 29px;
    background: rgba(58, 68, 86, 0.69);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px solid #9a97a7;
}

.overlay:hover {
    cursor: pointer;
}

.photos__photo:hover .overlay {
    opacity: 1;
}



/* XXX----- CONTACTS PAGE -----XXX */


/* ----- Map ----- */


.map {
    background: url(../img/map.jpg) no-repeat center center /cover;
    padding: 47px 0 52px;
}

.map__card {
    width: 470px;
    height: 344px;
    box-sizing: border-box;
    background: #3a4456;
    opacity: 0.75;
    border-radius: 5px;
    margin-left: auto;
    position: relative;
    padding: 20px 30px 0 30px;
}

.card__cube {
    width: 38px;
    height: 38px;
    border-radius: 5px;
    background: #3a4456;
    opacity: 0.75;
    transform: rotate(45deg);
    position: absolute;
    top: 12px;
    left: -14px;
}

.card__top {
    display: flex;
    padding-bottom: 19px;
    border-bottom: 1px solid rgba(255,255,255,0.65);
}

.card__header {
    font-size: 21px;
    color: #fff;
    font-family: 'Museo Sans 700';
}

.card__icons {
    margin-left: auto;
    display: flex;
}

.card__icons i {
    font-size: 17px;
}

.card__fb:hover {
    color: #3d6ca8;
} 
.card__tw:hover {
    color: #43c9fd;
} 
.card__tg:hover {
    color: #25a3d4;
} 

.card__icons a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    padding: 7px;
    border: solid 2px #fff;
}

.card__bottom {
    margin-top: 49px;
    display: flex;
}

.card__contact {
    font-size: 16px;
    color: #fff;
}

.card__phone i {
    margin-right: 7px;
}

.card__adress {
    display: flex;
    margin: 30px 0 27px;
}

.adress__icon {
    margin-right: 11px;
}

.adress__text {
    width: 145px;
}

.card__mail i {
    margin-right: 7px;
}

.card__text {
    width: 180px;
    font-size: 12px;
    margin-left: 46px;
    color: #fff;
}

.card__text_top {
    margin-bottom: 9px;
}



/* XXX----- SERVICE PAGE -----XXX */



.aboutnav__list_serv {
    display: flex;
    margin-left: auto;
}

.aboutnav__list_serv a {
    color: #a1a6af;
    font-family: 'Museo Sans 700';
}

.list__item_serv {
    margin-right: 40px;
}

.list__link_serv {
    display: block;
    padding: 12px 9px;
}

.list__link_serv:hover {
    padding: 10px 7px;
    border: 2px solid #b81c31;
    color: #b81c31;
}

.servlist__link_active {
    padding: 10px 7px;
    border: 2px solid #b81c31;
}

.servlist__item_active a {
    color: #b81c31;
}

.list__text_top {
    font-size: 16px;
}

.list__text_bottom {
    font-size: 13px;
}


/* ----- Help ----- */


.help {
    padding: 40px 0;
    background: url(../img/business.jpg) no-repeat center center /cover;
    color: #fff;
}

.help__header {
    font-size: 25px;
    font-family: 'Museo Sans 700';
    width: 210px;
    margin-bottom: 22px;
}

.help__text {
    font-size: 15px;
}

.help__card {
    width: 370px;
    height: 230px;
    border: 1px #fff solid;
    border-radius: 5px;
    margin-left: auto;
    box-sizing: border-box;
}

.help__list {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 30px;

}

.helplist__item {
    margin-bottom: 12px;
}

.helplist__link {
    cursor: pointer;
}

.helplist__link:hover {
    color: #fff;
    text-decoration: underline;
}

.helplist__link_active {
    text-decoration: underline;
}

.helplist__arrow {
    text-decoration: none;
    font-size: 13px;
    margin-right: 5px;
}


/* ----- Second Category ----- */

.seccategory__header {
    color: #081d42;
    font-family: 'Museo Sans 700';
    font-size: 29px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.seccategory__list {
    color: #404048;
    font-size: 15px;
}

.seccategory__item {
    margin-bottom: 20px;
}

.seccategory__consultation {
    width: 470px;
    height: auto;
    border: solid 2px rgba(136, 141, 149, 0.17);
    border-radius: 5px;
    padding: 30px 0;
    margin: 38px 0 54px;
    padding-right: 15px;
}

.consultation__content {
    margin-left: 30px;
}

.consultation__title {
    font-size: 16px;
    color: #414449;
    font-family: 'Museo Sans 700';
    margin-bottom: 17px;
}

.consultation__contact {
    align-items: center;
}

.consultation__btn {
    margin-right: 17px;
    padding: 7px 12px;
    border: 2px solid #b81c31;
    color: #b81c31;
    font-family: 'Museo Sans 700';
    cursor: pointer;
}

.consultation__btn:hover {
    color: #fff;
    background: #b81c31;
}

.consultation__tel {
    color: #585f6b;
    font-family: 'Museo Sans 700';
}

.consultation__text {
    font-size: 12px;
    width: 230px;
    color: #888d95;
    padding-top: 15px;
}

.consultation__img {
    margin-left: auto;
}

.seccategory__navigation {
    background: #fafafb;
    padding: 53px 0 155px;
}

.navigation__header {
    font-size: 18px;
    color: rgba(88, 100, 122, 0.68);
    font-family: 'Museo Sans 700';
    margin-bottom: 44px;
    margin-left: 27px;
}

.navigation__list {
    margin-bottom: 59px;
}

.elem__wrapper {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid rgba(88, 100, 122, 0.72);
}

.list__box {
    display: block;
    width: 11px;
    height: 11px;
    opacity: 0.57;
    border-radius: 2px;
    background-color: #747487;
    margin-right: 17px;
    margin-left: 26px;
}

.list__box_mt {
    margin-top: -20px;
}

.elem__text {
    color: #747487;
    font-size: 15px;
    font-family: 'Museo Sans 700';
    cursor: pointer;
    width: 188px;
}

.elem__wrapper_last {
    border-bottom: 1px solid rgba(88, 100, 122, 0.72);
}

.navigation__feedback {
    margin: 0 27px;
}

.feedback__title {
    color: rgba(88, 100, 122, 0.68);
    font-size: 18px;
    font-family: 'Museo Sans 700';
    margin-bottom: 40px;
}

.feedback__slider {
    align-items: center;
}

.slider__prev {
    margin-right: auto;
}

.slider__next {
    margin-left: auto;
}

.feedback__text {
    margin-top: 20px;
}

.feedback__name {
    color: #747487;
    font-size: 15px;
    font-family: 'Museo Sans 700';
    text-align: center;
}

.feedback__review {
    color: #404048;
    text-align: center;
    font-size: 13px;
    margin-top: 17px;
}

.feedback__icon {
    text-align: center;
    margin: 14px 0 26px;
}

.feedback__icon a {
    color: #2c60a0;
}

.feedback__boxes {
    display: flex;
    justify-content: center;
}

.feedback__box {
    width: 11px;
    height: 11px;
    opacity: 0.55;
    background-color: #8b9ab7;
    display: block;
    margin-right: 18px;
}

.feedback__box:last-child {
    margin-right: 0;
}

.feedback__box_active {
    opacity: 1;
}