/* ----- Media Queries ----- */


/* ----- Home Page ----- */


/* 992 - 1200 */
@media screen and (max-width: 1200px) {
    .nav__list {
        margin-left: 69px;
    }
    .nav__btn, .footer__btn {
        margin-left: -20px;
    }
    .about__text {
        width: 100%;
    }
    .nav__link {
        font-size: 14px;
    }
    .item__text {
        width: 100%;
    }
}

/* 768 - 992 */
@media screen and (max-width: 992px) {
    .trust__item:last-child {
        margin-top: 40px;
    }
    .about__item {
        margin-bottom: 47px;
    }
    .about__item:nth-child(3) {
        margin-bottom: 0;
    }
    .mission__btn {
        margin-bottom: 50px;
    }
    .info__tac {
        text-align: center;
    }
    .footer__logo {
        max-width: 200px;
        margin-top: 42px;
    }
}

/* 576 - 768 */
@media screen and (max-width:768px) {
    .nav__logo {
        max-width: 230px;
    }
    .mission__text {
        flex-direction: column;
    }
    .footer {
        text-align: center;
    }
    .copyright__studio {
        text-align: left;
        justify-content: center;
    }
}
 
/* 320 -  576 */
@media screen and (max-width:576px) {
    .nav__logo {
        max-width: 190px;
        width: 100%;
    }
    .nav__btn {
        width: 100px;
        font-size: 10px;
    }
    .nav__btn i {
        font-size: 13px;
    } 
    .nav__berger {
        margin-left: 8px;
    }
    h1 {
        font-size: 36px;
    }
    .main__text, .mission__text_left, .mission__text_right {
        width: 100%;
    }
}



/* ----- About Page ----- */


/* 992 - 1200 */
@media screen and (max-width: 1200px) {

}

/* 768 - 992 */
@media screen and (max-width: 992px) {
    .aboutnav__header {
        text-align: center;
        margin-bottom: 50px;
    }
    .aboutnav__location {
        justify-content: center;
    }
    .aboutnav__list {
        margin: 0 auto;
    }
}

/* 576 - 768 */
@media screen and (max-width:768px) {
    .aboutnav__list {
        flex-direction: column;
    }
    .list__item {
        margin: 0 auto;
    }
    .list__item:last-child {
        margin: 0 auto;
    }
    .photos__photo {
        margin-bottom: 20px;
    }
}
 
/* 320 -  576 */
@media screen and (max-width:576px) {
    .photos__header {
        font-size: 24px;
    }
    .advantage__header {
        font-size: 22px;
    }
}



/* ----- Service Page ----- */


/* 992 - 1200 */
@media screen and (max-width: 1200px) {
    .seccategory__navigation {
        padding: 53px 0 226px;
    }
}

/* 768 - 992 */
@media screen and (max-width: 992px) {
    
}

/* 576 - 768 */
@media screen and (max-width:768px) {
    .list__item_mb {
        margin-bottom: 20px;
    }
    .list__link_serv {
        text-align: center;
    }
    .list__item_serv {
        margin: 0 auto;
    }
    .aboutnav__list_serv {
        flex-direction: column;
        margin: 0 auto;
    } 
}
 
/* 320 -  576 */
@media screen and (max-width:576px) {
    .consultation__img {
        display: none;
    }
    .consultation__contact {
        flex-direction: column;
    }
    .seccategory__consultation {
        width: 100%;
        text-align: center;
    }
    .consultation__btn {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .help__textarea {
        text-align: center;
    }
    .help__header {
        width: 100%;
    }
    .list__item_serv {
        text-align: center;
        margin: 0 auto 20px;
    }
    .tac {
        text-align: center;
    }
    .help {
        background: url(../img/business.jpg) no-repeat top center;
    }
    .help__text {
        display: none;
    }
    .help__img {
        width: 50%;
    }
    .slider__next img, .slider__prev img{
        width: 65%;
    }
}



/* ----- Contacts Page ----- */


/* 992 - 1200 */
@media screen and (max-width: 1200px) {

}

/* 768 - 992 */
@media screen and (max-width: 992px) {
    
}

/* 576 - 768 */
@media screen and (max-width:768px) {
    .card__cube {
        display: none;
    }
    .map__card {
        margin: 415px auto 0;
    }
    .list__item {
        margin-bottom: 20px;
    }
    .map {
        background: url(../img/map.jpg) no-repeat top center;
        padding: 47px 0 40px;
    }
}
 
/* 320 -  576 */
@media screen and (max-width:576px) {
    .map__card {
        width: 100%;
        height: auto;
        margin-top: 408px;
    }
    .card__text {
        width: auto;
        margin: 30px 0;
        margin-left: 0;
    }
    .card__bottom {
        flex-direction: column;
    }
}